deb http://deb.debian.org/debian {{ dist_release_target }} main contrib non-free non-free-firmware
deb-src http://deb.debian.org/debian {{ dist_release_target }} main contrib non-free non-free-firmware

deb http://deb.debian.org/debian-security/ {{ dist_release_target }}-security main contrib non-free non-free-firmware
deb-src http://deb.debian.org/debian-security/ {{ dist_release_target }}-security main contrib non-free non-free-firmware

deb http://deb.debian.org/debian {{ dist_release_target }}-updates main contrib non-free non-free-firmware
deb-src http://deb.debian.org/debian {{ dist_release_target }}-updates main contrib non-free non-free-firmware

deb http://deb.debian.org/debian {{ dist_release_target }}-backports main contrib non-free non-free-firmware
deb-src http://deb.debian.org/debian {{ dist_release_target }}-backports main contrib non-free non-free-firmware
