{
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "update.mode": "start",
    "update.showReleaseNotes": false,
    "editor.comments.ignoreEmptyLines": false,
    "editor.comments.insertSpace": false,
    "editor.copyWithSyntaxHighlighting": false,
    "editor.lineNumbers": "off",
    "editor.links": false,
    "editor.multiCursorModifier": "ctrlCmd",
    "editor.parameterHints.enabled": false,
    "editor.renderLineHighlight": "none",
    "editor.renderWhitespace": "all",
    "editor.roundedSelection": false,
    "editor.tabSize": 2,
    "editor.find.autoFindInSelection": "always",
    "editor.fontSize": 11,
    "diffEditor.renderIndicators": false,
    "editor.minimap.enabled": false,
    "editor.acceptSuggestionOnCommitCharacter": false,
    "editor.acceptSuggestionOnEnter": "off",
    "editor.snippetSuggestions": "none",
    "editor.suggest.filterGraceful": false,
    "editor.suggest.showClasses": false,
    "editor.suggest.showColors": false,
    "editor.suggest.showConstants": false,
    "editor.suggest.showConstructors": false,
    "editor.suggest.showCustomcolors": false,
    "editor.suggest.showEnumMembers": false,
    "editor.suggest.showEnums": false,
    "editor.suggest.showEvents": false,
    "editor.suggest.showFields": false,
    "editor.suggest.showFiles": false,
    "editor.suggest.showFolders": false,
    "editor.suggest.showFunctions": false,
    "editor.suggest.showIcons": false,
    "editor.suggest.showInterfaces": false,
    "editor.suggest.showIssues": false,
    "editor.suggest.showKeywords": false,
    "editor.suggest.showMethods": false,
    "editor.suggest.showModules": false,
    "editor.suggest.showOperators": false,
    "editor.suggest.showProperties": false,
    "editor.suggest.showReferences": false,
    "editor.suggest.showSnippets": false,
    "editor.suggest.showStructs": false,
    "editor.suggest.showTypeParameters": false,
    "editor.suggest.showUnits": false,
    "editor.suggest.showUsers": false,
    "editor.suggest.showValues": false,
    "editor.suggest.showVariables": false,
    "editor.suggest.showWords": false,
    "editor.suggest.snippetsPreventQuickSuggestions": false,
    "editor.suggestOnTriggerCharacters": false,
    "editor.wordBasedSuggestions": false,
    "files.autoGuessEncoding": true,
    "files.hotExit": "off",
    "workbench.enableExperiments": false,
    "workbench.startupEditor": "none",
    "workbench.settings.enableNaturalLanguageSearch": false,
    "search.useIgnoreFiles": false,
    "extensions.autoUpdate": false,
    "terminal.integrated.confirmOnExit": true,
    "terminal.integrated.experimentalLinkProvider": false,
    "task.saveBeforeRun": "prompt",
    "editor.renderControlCharacters": true,
    "editor.cursorBlinking": "solid",
    "d.servedPath": "{{ end_user_home }}/.local/share/code-d/bin/serve-d",
    "editor.occurrencesHighlight": false,
    "editor.selectionHighlight": false,
    "editor.rulers": [
        80,
        132,
    ],
    "explorer.sortOrder": "mixed",
    "window.openFilesInNewWindow": "on",
    "debug.console.fontSize": 11,
    "markdown.preview.fontSize": 11,
    "terminal.integrated.fontSize": 11,
    "files.autoSaveDelay": 60000,
    "files.autoSave": "afterDelay",
    "telemetry.telemetryLevel": "off",
    "redhat.telemetry.enabled": false,
    "explorer.confirmDragAndDrop": false,
    "d.dubCompiler": "ldc2",
    "d.stdlibPath": "auto",
    "d.dubPath": "",
}
